
@font-face {
	font-family: Vazirmatn RD FD NL;
	src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@33.001/Round-Dots/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Thin.woff2) format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Vazirmatn RD FD NL;
	src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@33.001/Round-Dots/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-ExtraLight.woff2) format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Vazirmatn RD FD NL;
	src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@33.001/Round-Dots/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Light.woff2) format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Vazirmatn RD FD NL;
	src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@33.001/Round-Dots/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Vazirmatn RD FD NL;
	src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@33.001/Round-Dots/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Medium.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Vazirmatn RD FD NL;
	src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@33.001/Round-Dots/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-SemiBold.woff2) format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Vazirmatn RD FD NL;
	src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@33.001/Round-Dots/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Vazirmatn RD FD NL;
	src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@33.001/Round-Dots/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-ExtraBold.woff2) format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Vazirmatn RD FD NL;
	src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@33.001/Round-Dots/misc/Farsi-Digits-Non-Latin/fonts/webfonts/Vazirmatn-RD-FD-NL-Black.woff2) format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap
}

* {
	font-family: Vazirmatn RD FD NL !important;
	font-variation-settings: "wght" 400
}
body {
	font-family: Vazirmatn RD FD NL !important;
	font-variation-settings: "wght" 400
}


.auth fieldset {
	direction: ltr
}

.rtl .navbar .nav-right img {
	margin-right: -10px
}

.rtl .kanban tg-filter,
.rtl .taskboard tg-filter {
	left: 0;
	right: 268px;

}

.taskboard-table-header .taskboard-table-inner {

	position: relative
}

.taskboard-table-header {
	direction: ltr;
	right: 21px
}


.taskbord-utility-wrapper {
	direction: ltr;
}

.taskboard-table-body .taskboard-table-inner {
	direction: rtl;
}

.taskboard-table-body .taskboard-column.new {
	-webkit-animation: new-task-status-blink .5s ease-in;
	animation: new-task-status-blink .5s ease-in
}

.taskboard-table-body .column-fold.taskboard-row,
.taskboard-table-body .row-fold.taskboard-row {
	direction: rtl;
}


.placeholder-collapsed .placeholder-collapsed-wrapper {
	transform: rotate(-180deg);
	writing-mode: tb-rl

}


.dropdown-project-list .dropdown-project-list-link img {
	margin-left: 10px;

}
.navbar .topnav-dropdown-wrapper:hover .navbar-dropdown {
	-webkit-animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) both;
	animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) both;
	display: block;
	left: -197px
}
.navbar-dropdown.dropdown-user {
	left: 0;
}
.navbar-dropdown.dropdown-user ul:before {
	left: 48px;
}
.topnav-dropdown-wrapper .navbar-dropdown-notifications {
	left: -120px;

}

.topnav-dropdown-wrapper .navbar-dropdown-notifications .header:after,
.topnav-dropdown-wrapper .navbar-dropdown-notifications .header:before {
	left: 147px !important;
}
.nav-bar-support .navbar-dropdown {
	margin-left: 108px
}