
body {
	font-family: Vazirmatn RD FD NL !important;
	font-variation-settings: "wght" 400
}

* {
	font-family: Vazirmatn RD FD NL !important;
	font-variation-settings: "wght" 400
}

.auth fieldset {
	direction: ltr
}

.rtl .navbar .nav-right img {
	margin-right: -10px
}

.rtl .kanban tg-filter,
.rtl .taskboard tg-filter {
	left: 0;
	right: 268px;

}

.taskboard-table-header .taskboard-table-inner {

	position: relative
}

.taskboard-table-header {
	direction: ltr;
	right: 21px
}


.taskbord-utility-wrapper {
	direction: ltr;
}

.taskboard-table-body .taskboard-table-inner {
	direction: rtl;
}

.taskboard-table-body .taskboard-column.new {
	-webkit-animation: new-task-status-blink .5s ease-in;
	animation: new-task-status-blink .5s ease-in
}

.taskboard-table-body .column-fold.taskboard-row,
.taskboard-table-body .row-fold.taskboard-row {
	direction: rtl;
}


.placeholder-collapsed .placeholder-collapsed-wrapper {
	transform: rotate(-180deg);
	writing-mode: tb-rl

}


.dropdown-project-list .dropdown-project-list-link img {
	margin-left: 10px;

}
.navbar .topnav-dropdown-wrapper:hover .navbar-dropdown {
	-webkit-animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) both;
	animation: dropdownFade .2s cubic-bezier(.09, 0, .99, .01) both;
	display: block;
	left: -197px
}
.navbar-dropdown.dropdown-user {
	left: 0;
}
.navbar-dropdown.dropdown-user ul:before {
	left: 48px;
}
.topnav-dropdown-wrapper .navbar-dropdown-notifications {
	left: -120px;

}

.topnav-dropdown-wrapper .navbar-dropdown-notifications .header:after,
.topnav-dropdown-wrapper .navbar-dropdown-notifications .header:before {
	left: 147px !important;
}
.nav-bar-support .navbar-dropdown {
	margin-left: 108px
}